
{{!-- action="/" --}}
	{{!-- <form id="{{id}}" method="POST" action="/">  
		{{#if devoured}}
        <input type="text" value = "{{burger_name}}" class="list" readonly>
		{{else}}
	      <input type="text" value = "{{burger_name}}" class="list"> 
				<input type="text" class="customer" width="60px">
		{{/if}}
    {{#unless devoured}}
	     <button class="devour">devour</button>
	  {{/unless}}
	</form> --}}


<tr>
    <td class="fn"><input data-user-id="{{id}}" type="text" id="editfn1" class="editprofile" value = "{{firstname}}"></td>
    <td class="ln"><input data-user-id="{{id}}" type="text" id="editln1" class="editprofile" value = "{{lastname}}"></td>
    <td class="un"><input data-user-id="{{id}}" type="text" id="editun1" class="editprofile" value = "{{username}}"></td>
    <td class="pw"><input data-user-id="{{id}}" type="text" id="editpw1" class="editprofile" value = "{{password}}"></td>
    <td class="em"><input data-user-id="{{id}}" type="text" id="editem1" class="editprofile" value = "{{email}}"></td>
    <td class="btn">
       <button type="submit" data-user-id="{{id}}" id="edituser">Save</button>
       <button type="submit" data-user-id="{{id}}" id="deleteuser">Delete</button> 
    </td>
</tr>