
{{!-- action="/" --}}
	{{!-- <form id="{{id}}" method="POST" action="/">  
		{{#if devoured}}
        <input type="text" value = "{{burger_name}}" class="list" readonly>
		{{else}}
	      <input type="text" value = "{{burger_name}}" class="list"> 
				<input type="text" class="customer" width="60px">
		{{/if}}
    {{#unless devoured}}
	     <button class="devour">devour</button>
	  {{/unless}}
	</form> --}}


<tr>
  {{#if read}} 
    <td>{{firstname}}</td>
    <td>{{lastname}}</td>
    <td>{{username}}</td>
    <td>{{password}}</td>
    <td>{{email}}</td>
    <td>
       <button type="submit" id="edituser">Edit</button>
       <button type="submit" id="deleteuser">Delete</button> 

    </td>
 {{else}}
    <td><input type="text" name="user" class="editprofile" value = "{{firstname}}"></td>
    <td><input type="text" name="user" class="editprofile" value = "{{lastname}}"></td>
    <td><input type="text" name="user" class="editprofile" value = "{{username}}"></td>
    <td><input type="text" name="user" class="editprofile" value = "{{password}}"></td>
    <td><input type="text" name="user" class="editprofile" value = "{{email}}"></td>
    <td>
       <button type="submit" id="saveuseredit">Save</button>
       <button type="submit" id="deleteuser">Delete</button> 

 {{/if}}
</tr>