
<h1>Logged In as {{username}}</h1>



<form action="/users/profile/" method = "POST" id ="editprofile">
    First Name: <br>
  	<input type="text" data-user-id="{{id}}" id="fn1" name="user" class="editprofile" value = "{{firstname}}" readonly><br>
    Last Name: <br>
  	<input type="text" data-user-id="{{id}}" id="ln1" name="user" class="editprofile" value = "{{lastname}}" readonly><br>
  	Username: <br>
  	<input type="text" data-user-id="{{id}}" id="un1" name="user" class="editprofile" value = "{{username}}"><br>
    Password: <br>
  	<input type="text" data-user-id="{{id}}" id="pw1" name="user" class="editprofile" value = "{{password}}"><br>
    Email: <br>
  	<input type="text" data-user-id="{{id}}" id="em1" name="user" class="editprofile" value = "{{email}}"><br>
    
    
    <button type="submit" data-user-id="{{id}}" id="saveprofile">Save</button>
</form>


<script src="/js/profile.js" type="text/javascript"></script>