<h1>Ingredients</h1>
<table>
    {{#each ingredients}}
    <tr>
        <td>{{id}}</td>
        <td>{{IngredientName}}</td>
        <td>{{isGlutenFree}}</td>
        <td>{{isNut}}</td>
        <td>{{isGMO}}</td>
        <td>{{Calories}}</td>
        <td>{{Carbs}}</td>
        <td>{{Sugar}}</td>
        <td>{{Fat}}</td>
        <td>{{Protein}}</td>
    </tr>
    {{/each}}
</table>

<h2>Add Ingredient</h2>
<form id="ingredient-form">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="ingredientName">Ingredient Name</label>
      <input type="text" class="form-control" id="ingredientName" placeholder="Ingredient Name">
    </div>
    <div class="form-group col-md-4">
      <label for="Calories">Calories</label>
      <input type="text" class="form-control" id="Calories" placeholder="Calories">
    </div>
    <div class="form-group col-md-4">
      <label for="Carbs">Carbs</label>
      <input type="text" class="form-control" id="Carbs" placeholder="Carbs">
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Sugar">Sugar</label>
      <input type="text" class="form-control" id="Sugar" placeholder="Sugar">
    </div>
    <div class="form-group col-md-4">
      <label for="Fat">Fat</label>
      <input type="text" class="form-control" id="Fat" placeholder="Fat">
    </div>
    <div class="form-group col-md-4">
      <label for="Protein">Protein</label>
      <input type="text" class="form-control" id="Protein" placeholder="Protein">
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="isGlutenFree">Gluten Free?</label>
      <input type="checkbox" class="form-control" id="isGlutenFree" placeholder="Gluten Free?" value="1">
    </div>
    <div class="form-group col-md-4">
      <label for="isNut">Nut?</label>
      <input type="checkbox" class="form-control" id="isNut" placeholder="Nut?" value="1">
    </div>
    <div class="form-group col-md-4">
      <label for="isGMO">GMO?</label>
      <input type="checkbox" class="form-control" id="isGMO" placeholder="GMO?" value="1">
    </div>
  </div>

  <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>