<h1>Ingredients</h1>
<table>
    {{#each ingredients}}
    <tr>
        <td>{{id}}</td>
        <td>{{IngredientName}}</td>
        <td>{{isGlutenFree}}</td>
        <td>{{isNut}}</td>
        <td>{{isGMO}}</td>
        <td>{{Calories}}</td>
        <td>{{Carbs}}</td>
        <td>{{Sugar}}</td>
        <td>{{Fat}}</td>
        <td>{{Protein}}</td>
    </tr>
    {{/each}}
</table>